*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #3a4cd6;
  font-family: Arial, Helvetica, sans-serif;
}

.fas{
  padding: 10px;
  color: #fff;
}

.parrafo{
  font-size: 25px;
  /* background: white; */
  margin: 65px auto;
  color: white;
  font-weight: 350;
  width: 580px;
  text-align: center;
}

.contenedor{
  margin: 25px auto;
  width: 580px;
}

table{
  background: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 20px;
}

thead{
  background: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even){
  background: #ddd;
}

tr:hover{
  background: #369681;
  color: white;
}